:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --purple: #e40452;
    --diabled: #e7e7e7;
}

body {
    background: var(--purple);
    color: var(--dark);
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

*:first-letter {
    text-transform: capitalize;
}

.borde {
    border-radius: 5px;
}

.container {
    width: 500px;
    display: flex;
    justify-content: center;
}

.container .list {
    width: 100%;
    background-color: var(--light);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    
}


.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dateLeft {
    display: flex;
    align-items: center;
}

.dateNumber {
    font-size: 5rem;
}

.dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.dateMonth,
.dateNumber,
.dateText  {
    font-weight: bold;
}

.dateMonth,
.dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
    font-size: 1.4rem;
    width: 100%;
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    width: auto;
    background-color: var(--secondary);
    color: var(--light);
    font-size: 1.4rem;
}

.taskContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task {
    width: auto;
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
    font-size: 1.6rem;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}
@media (max-width: 510px) {
    .container {
        width: 100%;
        height: auto;
    }
}